<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service</h1>
    <!-- #List 1 -->
    <div id="list1" ng-controller='ShoppingListController1 as list1'>
      <input type="text" ng-model="list1.itemName" placeholder="item name">
      <input type="text" ng-model="list1.itemQuantity" placeholder="item Quantity">
      <button ng-click="list1.addItem();">Add Item</button>
      <shopping-list my-list="list1" title="{{list1.title}}"></shopping-list>
      <div ng-if="list1.errorMessage" class="error">Error:{{list1.errorMessage}}</div>
    </div>
    <!-- List #2 -->
    <div id="list2" ng-controller="ShoppingListController2 as list2">

      <input type="text" ng-model="list2.itemName" placeholder="item name">
      <input type="text" ng-model="list2.itemQuantity" placeholder="item Quantity">
      <button ng-click="list2.addItem();">Add Item</button>
        <shopping-list my-list="list2"  title="Shoppping List 2"></shopping-list>
      <div ng-if="list2.errorMessage"class="error">Error:{{list2.errorMessage}}</div>
    </div>
  </body>
</html>
